body {
	margin: 0;
	padding: 0;
	background-image: url('../images/qbkls.png');
}

.nav-wrap {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 40px;
}

nav {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#logo {
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 30px 30px;
	margin: 0;
}

h1 {
	color: #4aaaa5;
}

nav .nav-items {
	display: flex;
	align-items: center;
	list-style: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

nav .nav-items li {
	padding-left: 30px;
}

nav .nav-items li a {
	text-decoration: none;
	color: #777777;
}

nav .nav-items li a:hover {
	color: #4aaaa5;
}

.main-content {
	max-width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
	border: #dddddd;
	padding: 20px 30px;
}

.portrait {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: large;
	line-height: 1.4em;
}

form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

input,
textarea {
	width: 97%;
}

input {
	padding: 10px;
	margin-bottom: 20px;
}

form input[type=submit] {
	background-color: #4aaaa5;
	color: white;
	padding: .5rem 1rem;
	font-size: 1.2rem;
	width: 20%;
	border-radius: .3rem;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.3rem;
	padding-top: 50px;
	text-align: center;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	color: white;
}
